---
import SvgIcon from "./common/svg-icon.astro";
import GoogleIcon from "../assets/svg/google-icon.svg?raw";
import AppleIcon from "../assets/svg/apple-icon.svg?raw";
import IsometricLogo from "../assets/svg/isometric-logo.svg?raw";
import HeroImage from "../assets/images/hero-image.png";
import DaikoonBluryImage from "../assets/images/daikoon-blury.png";
import { Image } from "astro:assets";
---

<section
  class="w-screen h-screen bg-gradient-to-b from-light-blue to-white from-70% flex justify-center items-center relative overflow-visible"
>
  <article class="flex flex-col md:flex-row lg:max-w-screen-xl">
    <div class="w-full mt-18 md:mt-32 md:w-1/2">
      <h2 class="headline text-center md:text-left m-auto">
        téléchargez, <br /> défiez, <br /> gagnez !
      </h2>
      <div
        class="flex mt-8 md:hidden flex-row justify-center items-center gap-4"
      >
        <button
          class="bg-white text-black flex flex-row justify-center items-center gap-4 px-4 py-2 rounded-sm shadow-sm"
        >
          <div>
            <SvgIcon raw={GoogleIcon} class="size-4" />
          </div>
          <div
            class="h-full flex flex-col font-productSans justify-center items-start"
          >
            <span class="text-xs">Disponible sur</span>
            <span class="font-bold">Google play</span>
          </div>
        </button>
        <button
          class="bg-white text-black flex flex-row justify-center items-center gap-4 px-4 py-2 rounded-sm shadow-sm"
        >
          <div>
            <SvgIcon raw={AppleIcon} class="size-4" />
          </div>
          <div
            class="h-full flex flex-col font-productSans justify-center items-start"
          >
            <span class="text-xs">Disponible sur</span>
            <span class="font-bold">Apple store</span>
          </div>
        </button>
      </div>
      <div class="mt-4 md:mt-12 px-8 md:px-0">
        <h3
          class="font-helvetica font-bold text-[30px] tracking-tight md:text-4xl text-center md:text-left"
        >
          Testez notre appli !
        </h3>
        <p
          class="md:mt-6 md:font-normal text-[15px] md:text-xl tracking-tight leading-5 font-gotham"
        >
          Défiez vos amis, pariez sans montant ou avec des daïkoins. Dépensez
          vos daïkoins dans les points de ventes de nos partenaires agréés.
        </p>
      </div>
      <div class="hidden mt-8 md:flex flex-row gap-8">
        <button
          class="bg-white text-black flex flex-row gap-4 p-2 rounded-lg shadow-sm"
        >
          <div>
            <SvgIcon raw={GoogleIcon} class="size-12" />
          </div>
          <div
            class="h-full flex flex-col font-productSans justify-center items-start"
          >
            <span class="text-xs">Disponible sur</span>
            <span class="text-xl font-bold">Google play</span>
          </div>
        </button>
        <button
          class="bg-white text-black flex flex-row gap-4 p-2 rounded-lg shadow-sm"
        >
          <div>
            <SvgIcon raw={AppleIcon} class="size-12" />
          </div>
          <div
            class="h-full flex flex-col font-productSans justify-center items-start"
          >
            <span class="text-xs">Disponible sur</span>
            <span class="text-xl font-bold">Apple store</span>
          </div>
        </button>
      </div>
    </div>
    <div class="md:w-1/2 relative flex justify-center z-10">
      <Image
        class="m-auto object-fill"
        src={HeroImage}
        alt=""
        loading={"lazy"}
        width={640}
      />
    </div>
  </article>
  <Image
    src={DaikoonBluryImage}
    class="hidden md:block absolute bottom-12 left-1/2 opacity-40 object-contain overflow-hidden"
    height={300}
    alt=""
  />
  <div
    class="hidden md:flex absolute -bottom-28 right-24 z-10 flex-row flex-wrap gap-[20px] w-[578px] h-fit"
  >
    {
      Array.from({ length: 260 }).map(() => (
        <div class="size-[3px] bg-light-blue" />
      ))
    }
  </div>
</section>
