---
import { Image } from "astro:assets";
import PartenaireImage from "../assets/images/partenaire-image.png";
import HouseIcon from "../assets/svg/house-icon.svg?raw";
import FoodIcon from "../assets/svg/food-icon.svg?raw";
import CoffeeIcon from "../assets/svg/coffee-icon.svg?raw";
import BarIcon from "../assets/svg/bar-icon.svg?raw";
import HealthIcon from "../assets/svg/health-icon.svg?raw";
import SportIcon from "../assets/svg/sport-icon.svg?raw";
import HobbiesIcon from "../assets/svg/hobbies-icon.svg?raw";
import SvgIcon from "./common/svg-icon.astro";
import LinkdinLogo from "../assets/svg/linkdin-logo.svg?raw";
import FacebookLogo from "../assets/svg/facebook-logo.svg?raw";
import InstagramLogo from "../assets/svg/instagram-logo.svg?raw";
import SnapshatLogo from "../assets/svg/snapshat-logo.svg?raw";
import TwitterLogo from "../assets/svg/twitter-logo.svg?raw";
import DaikoonBluryImage from "../assets/images/daikoon-blury.png";

const listSocials = [
  {
    label: "Snapshat",
    logo: SnapshatLogo,
    link: "",
  },
  {
    label: "Instagram",
    logo: InstagramLogo,
    link: "",
  },
  {
    label: "Facebook",
    logo: FacebookLogo,
    link: "",
  },
  {
    label: "Twitter",
    logo: TwitterLogo,
    link: "",
  },
  {
    label: "Linkdin",
    logo: LinkdinLogo,
    link: "",
  },
];

const listIcons = [
  {
    icon: HouseIcon,
    label: "Boutiques",
  },
  {
    icon: FoodIcon,
    label: "Food",
  },
  {
    icon: CoffeeIcon,
    label: "Coffee",
  },
  {
    icon: BarIcon,
    label: "Bars",
  },
  {
    icon: HealthIcon,
    label: "Bien-être",
  },
  {
    icon: SportIcon,
    label: "Sports",
  },
  {
    icon: HobbiesIcon,
    label: "Loisirs",
  },
];
---

<section
  class="w-full md:h-screen md:min-h-screen flex bg-gradient-to-br from-light-blue from-80% to-white relative overflow-visible"
>
  <article
    class="m-auto w-full max-w-screen-2xl flex flex-col md:flex-row justify-center items-center h-full p-7 md:p-10"
  >
    <div class="w-full md:w-2/3 h-full flex flex-col justify-center gap-8">
      <h2 class="title mt-2">
        Vous souhaitez devenir partenaire ?<br />Rejoignez-nous !
      </h2>
      <p
        class="md:mt-8 text-[15px] md:text-[20px] font-gotham md:font-bold md:w-3/5"
      >
        Envie d’attirer de nouveaux prospects et de proposer une expérience
        client innovante ? Rejoignez Daïkoon !
      </p>
      <Image
        class="block md:hidden h-96 object-cover overflow-visible"
        src={PartenaireImage}
        alt=""
      />
      <ul
        class="flex md:hidden flex-wrap flex-row justify-center items-center gap-4 w-full text-primary *:cursor-pointer select-none"
      >
        {
          listIcons.map((icon) => (
            <li class="flex flex-col items-center gap-2">
              <div class="p-4 bg-primary rounded-lg flex justify-center items-center">
                <SvgIcon raw={icon.icon} class="size-8" />
              </div>
              <h4 class="text-[12px] md:text-base tracking-tight font-bold text-center text-white font-helvetica">
                {icon.label}
              </h4>
            </li>
          ))
        }
      </ul>
      <div class="flex flex-col md:flex-row gap-4 md:w-3/5 md:pr-12">
        <input
          class="block w-full bg-transparent border border-white grow h-12 rounded-md px-4 text-white font-bold placeholder-white text-center md:text-left"
          type="text"
          placeholder="ton mail juste ici !"
        />
        <button class="bg-dark-blue h-12 w-full md:w-40 rounded-md"
          ><span class="font-bold text-lg">GO !</span></button
        >
      </div>

      <ul
        class="flex md:hidden flex-row justify-center md:justify-start items-center gap-10 w-full text-white *:cursor-pointer select-none my-12"
      >
        {
          listSocials.map((social) => (
            <li>
              <SvgIcon raw={social.logo} class="size-4" />
            </li>
          ))
        }
      </ul>
      <ul
        class="hidden md:flex flex-row justify-start items-center gap-6 w-full text-primary *:cursor-pointer select-none"
      >
        {
          listIcons.map((icon) => (
            <li class="flex flex-col items-center gap-2">
              <div class="p-4 size-20 bg-primary rounded-lg flex justify-center items-center">
                <SvgIcon raw={icon.icon} class="size-full text-white" />
              </div>
              <h4 class="font-bold text-center text-white">{icon.label}</h4>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="hidden md:block w-1/3 h-full relative">
      <div
        class={`h-full flex justify-center items-center transition-opacity duration-500 absolute`}
      >
        <Image
          class="h-4/5 object-cover overflow-visible"
          src={PartenaireImage}
          alt=""
        />
      </div>
    </div>
  </article>
  <Image
    src={DaikoonBluryImage}
    class="hidden md:block absolute bottom-12 left-1/2 opacity-40 object-contain overflow-hidden"
    height={300}
    alt=""
  />
</section>
